__pycache__
aphelioncyber\__pycache__\
aphelioncyber/__pycache__/
aphelioncyber/website/__pycache__/
aphelioncyber\website\__pycache__\

node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
db.sqlite3
*.sqlite3
/db.sqlite3
/*.sqlite3
aphelioncyber/website/__pycache__/urls.cpython-312.pyc
aphelioncyber/website/__pycache__/views.cpython-312.pyc
